<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>login.MySessionAttributeListener</listener-class>
    </listener>
    <listener>
        <listener-class>login.SessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>StudentLoginServlet</servlet-name>
        <servlet-class>login.StudentLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministratorLoginServlet</servlet-name>
        <servlet-class>login.AdministratorLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentAddDropServlet</servlet-name>
        <servlet-class>login.StudentAddDropServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministratorCourseUpdateServlet</servlet-name>
        <servlet-class>login.AdministratorCourseUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministratorSectionUpdateServlet</servlet-name>
        <servlet-class>login.AdministratorSectionUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministratorInstructorUpdateServlet</servlet-name>
        <servlet-class>login.AdministratorInstructorUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministratorStudentUpdateServlet</servlet-name>
        <servlet-class>login.AdministratorStudentUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudentInfoServlet</servlet-name>
        <servlet-class>login.EditStudentInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentLoginServlet</servlet-name>
        <url-pattern>/StudentLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministratorLoginServlet</servlet-name>
        <url-pattern>/AdministratorLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentAddDropServlet</servlet-name>
        <url-pattern>/StudentAddDropServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministratorCourseUpdateServlet</servlet-name>
        <url-pattern>/AdministratorCourseUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministratorSectionUpdateServlet</servlet-name>
        <url-pattern>/AdministratorSectionUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministratorInstructorUpdateServlet</servlet-name>
        <url-pattern>/AdministratorInstructorUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministratorStudentUpdateServlet</servlet-name>
        <url-pattern>/AdministratorStudentUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudentInfoServlet</servlet-name>
        <url-pattern>/EditStudentInfoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
  